@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Force light theme for form controls like input arrows and select dropdowns */
input,
select {
  color-scheme: light;
}
/* Hide arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
/* Multi-line truncation utility */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
